@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  border-radius: 2px;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.page-search {
  overflow: hidden;
  background: #FFFFFF;
}
.page-search > .content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.page-search__left {
  width: 560px;
}
.page-search__left-title {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
}
.page-search__left-txt {
  margin-top: 25px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
}
.page-search__left-txt a {
  color: #149E4C;
}
.page-search__left-txt a:hover {
  text-decoration: underline;
}
.page-search__right {
  width: 43%;
}

.quick-navigation .title-1 {
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
  letter-spacing: -0.02em;
}
.quick-navigation .main-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 50%;
  margin: 12px 0 0;
}
.quick-navigation__wrap {
  background: #f8f8f8;
  padding: 83px 0 60px;
}
.quick-navigation__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.quick-navigation__list-item {
  width: 24%;
  background: #FFFFFF;
  padding: 23px 30px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  transition: box-shadow 0.2s linear;
}
.quick-navigation__list-item:hover {
  box-shadow: 0 4px 40px #e4e4e4;
}
.quick-navigation__list-wrap {
  display: flex;
  align-items: center;
}
.quick-navigation__list-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.quick-navigation__list-txt-title {
  font-size: 18px;
  line-height: 18px;
  color: #050A0A;
  letter-spacing: -0.02em;
}
.quick-navigation__list-txt-description {
  margin-top: 7px;
  font-family: Gilroy-Regular, sans-serif;
  color: #8b8b8b;
  font-size: 14px;
}
.quick-navigation__list-btn {
  margin-top: 18px;
  width: 100%;
  padding: 13px 0 10px;
  border-radius: 3px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .page-search > .content-center {
    padding: 0 15px;
  }
  .page-search__left {
    width: 520px;
  }
  .page-search__left-title {
    font-size: 36px;
    line-height: 42px;
  }
  .page-search .quick-navigation__wrap {
    padding: 83px 15px 60px;
  }
  .page-search .quick-navigation__list-item {
    padding: 23px 20px 20px;
  }
}
@media screen and (max-width: 1023px) {
  .page-search > .content-center {
    flex-direction: column;
    padding: 50px 15px 20px;
  }
  .page-search__left {
    width: 100%;
    text-align: center;
  }
  .page-search__left-title {
    font-size: 35px;
    line-height: 40px;
  }
  .page-search__left-txt {
    width: 70%;
    margin: 25px auto 0;
  }
  .page-search__right {
    width: 60%;
    margin-top: 30px;
  }
  .page-search .quick-navigation .title-1 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  .page-search .quick-navigation .main-subtitle {
    width: 80%;
    margin: 12px auto 0;
    text-align: center;
  }
  .page-search .quick-navigation__wrap {
    padding: 53px 15px 50px;
  }
  .page-search .quick-navigation__list-item {
    padding: 19px 15px 15px;
  }
  .page-search .quick-navigation__list-wrap {
    height: 60px;
  }
  .page-search .quick-navigation__list-img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .page-search .quick-navigation__list-txt-title {
    font-size: 16px;
  }
  .page-search .quick-navigation__list-txt-description {
    font-size: 12px;
    margin-top: 3px;
  }
  .page-search .quick-navigation__list-btn {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .page-search > .content-center {
    padding: 10px 15px 50px;
  }
  .page-search__left {
    order: 2;
  }
  .page-search__left-title {
    font-size: 18px;
    line-height: 26px;
    font-family: Gilroy-Medium, sans-serif;
    width: 90%;
    margin: auto;
  }
  .page-search__left-txt {
    width: 90%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
  .page-search__left-btn {
    padding: 14px 31px 11px;
  }
  .page-search__right {
    width: 90%;
    order: 1;
  }
  .page-search .quick-navigation .title-1 {
    font-size: 30px;
  }
  .page-search .quick-navigation .main-subtitle {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .page-search .quick-navigation__wrap {
    padding: 40px 15px;
  }
  .page-search .quick-navigation__list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px -10px 0;
  }
  .page-search .quick-navigation__list-wrap {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .page-search .quick-navigation__list-item {
    width: 44%;
    padding: 20px;
    margin: 0 9px 20px;
  }
  .page-search .quick-navigation__list-img {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .page-search .quick-navigation__list-txt {
    text-align: center;
  }
  .page-search .quick-navigation__list-btn {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
