@media screen and (max-width: 1200px)
  .page-search
    >.content-center
      padding: 0 15px
    &__left
      width: 520px
      &-title
        font-size: 36px
        line-height: 42px
    .quick-navigation
      &__wrap
        padding: 83px 15px 60px
      &__list
        &-item
          padding: 23px 20px 20px

@media screen and (max-width: 1023px)
  .page-search
    >.content-center
      flex-direction: column
      padding: 50px 15px 20px
    &__left
      width: 100%
      text-align: center
      &-title
        font-size: 35px
        line-height: 40px
      &-txt
        width: 70%
        margin: 25px auto 0
    &__right
      width: 60%
      margin-top: 30px
    .quick-navigation
      .title-1
        font-size: 35px
        line-height: 40px
        text-align: center
      .main-subtitle
        width: 80%
        margin: 12px auto 0
        text-align: center
      &__wrap
        padding: 53px 15px 50px
      &__list
        &-item
          padding: 19px 15px 15px
        &-wrap
          height: 60px
        &-img
          width: 40px
          height: 40px
          flex-shrink: 0
          margin-right: 15px
        &-txt
          &-title
            font-size: 16px
          &-description
            font-size: 12px
            margin-top: 3px
        &-btn
          margin-top: 15px

@media screen and (max-width: 767px)
  .page-search
    >.content-center
      padding: 10px 15px 50px
    &__left
      order: 2
      &-title
        font-size: 18px
        line-height: 26px
        font-family: $font-gilroy-medium
        width: 90%
        margin: auto
      &-txt
        width: 90%
        font-size: 14px
        line-height: 20px
        margin-top: 20px
      &-btn
        padding: 14px 31px 11px
    &__right
      width: 90%
      order: 1
    .quick-navigation
      .title-1
        font-size: 30px
      .main-subtitle
        font-size: 14px
        line-height: 20px
        width: 100%
      &__wrap
        padding: 40px 15px
      &__list
        flex-wrap: wrap
        justify-content: center
        margin: 25px -10px 0
        &-wrap
          flex-direction: column
          align-items: center
          height: auto
        &-item
          width: 44%
          padding: 20px
          margin: 0 9px 20px
        &-img
          width: 50px
          height: 50px
          margin-right: 0
          margin-bottom: 15px
        &-txt
          text-align: center
        &-btn
          font-size: 14px