$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$yellow-bg: #fef3e2
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .3s linear
  display: inline-block
  border-radius: 2px

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.page-search
  overflow: hidden
  background: $white
  >.content-center
    display: flex
    justify-content: space-between
    align-items: center
    padding: 80px 0
  &__left
    width: 560px
    &-title
      font-family: $font-otomarine
      font-size: 40px
      line-height: 45px
      color: $dark
    &-txt
      margin-top: 25px
      font-family: $font-gilroy-regular
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      a
        color: $green-default
        &:hover
          text-decoration: underline
  &__right
    width: 43%

.quick-navigation
  .title-1
    font-size: 40px
    line-height: 45px
    color: $dark
    font-family: $font-otomarine
    letter-spacing: -0.02em
  .main-subtitle
    font-family: $font-gilroy-regular
    font-size: 16px
    line-height: 22px
    color: $gray-semi
    width: 50%
    margin: 12px 0 0
  &__wrap
    background: $light
    padding: 83px 0 60px
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 45px
    &-item
      width: 24%
      background: $white
      padding: 23px 30px 20px
      border-radius: 6px
      margin-bottom: 20px
      position: relative
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 40px rgba(228,228,228,1)
    &-wrap
      display: flex
      align-items: center
    &-img
      width: 50px
      height: 50px
      margin-right: 20px
    &-txt
      &-title
        font-size: 18px
        line-height: 18px
        color: $dark
        letter-spacing: -0.02em
      &-description
        margin-top: 7px
        font-family: $font-gilroy-regular
        color: $gray-semi
        font-size: 14px
    &-btn
      margin-top: 18px
      width: 100%
      padding: 13px 0 10px
      border-radius: 3px
      text-align: center