.page-search
  .content-center
    .page-search__left
      .page-search__left-title.
        Sorry, we couldn’t find results matching “Kasino”
      .page-search__left-txt
        | Please check the spelling of your request. You can also
        |
        a(href='#') return to the main page
        |  to search for the desired category.
    .page-search__right
      img(src="img/elephant_search.svg" alt="Not found")
  .quick-navigation
    .quick-navigation__wrap
      .content-center
        h2.title-1.quick-navigation__title Quick Navigation
        p.main-subtitle.quick-navigation__subtitle.
          Check out our hand-picked list of favourites for the month that have
          the most generous no deposit, free spins and/or matching bonuses:
        ul.quick-navigation__list
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_blackjack.svg" alt="Blackjack")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Blackjack
                .quick-navigation__list-txt-description 57 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_online-roulette.svg" alt="Online Roulette")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Online Roulette
                .quick-navigation__list-txt-description 62 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_online-poker.svg" alt="Online Poker")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Online Poker
                .quick-navigation__list-txt-description 123 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_live-dealer.svg" alt="Live Dealer")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Live Dealer
                .quick-navigation__list-txt-description 85 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_baccarat.svg" alt="Baccarat")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Baccarat
                .quick-navigation__list-txt-description 54 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_online-slots.svg" alt="Online Slots")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Online Slots
                .quick-navigation__list-txt-description 210 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_video-poker.svg" alt="Video Poker")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Video Poker
                .quick-navigation__list-txt-description 13 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
          li.quick-navigation__list-item.box-shadow
            .quick-navigation__list-wrap
              .quick-navigation__list-img
                img(src="img/nav_online-craps.svg" alt="Online Craps")
              .quick-navigation__list-txt
                .quick-navigation__list-txt-title Online Craps
                .quick-navigation__list-txt-description 23 Casino
            a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino